{{> header}}

<section class="article">
	<header class="article-header">
		<h1 class="article-title">{{article.title}}</h1>
		<p class="article-meta">By  <strong>{{article.author}}</strong>, on <strong>{{article.addedAt}}</strong></p>
	</header>

	<div class="article-description">
		{{article.headline}}

		{{article.content}}
	</div>

	<div class="article-comments">
		<h2>Comments</h2>
		<ul>
		{{#article.comments}}
			<li><b>By</b> {{author}}<p>{{content}}</p></li>
		{{/article.comments}}
		</ul>
	</div>
</section>

{{> footer}}
